<!doctype html>
<html>
  <head>
    <title>Edit Book</title>
  </head>
  <body>
    <h1>Edit Book: {{ book.title }}</h1>

    <form action="{% url 'update' book.id %}" method="POST">
      {% csrf_token %} {% for field in form %}
      <div style="margin-bottom: 15px">
        {{ field.label_tag }} <br />
        {{ field }} {% if field.errors %}
        <span style="color: red">{{ field.errors.0 }}</span>
        {% endif %}
      </div>
      {% endfor %}

      <button type="submit">Update Book</button>
      <a href="{% url 'books_index' %}">Cancel</a>
    </form>
  </body>
</html>
